<?php
/**
 * This file is part of Project Chaplin.
 *
 * Project Chaplin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Project Chaplin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Project Chaplin. If not, see <http://www.gnu.org/licenses/>.
 *
 * @package    Project Chaplin
 * @author     Dan Dart
 * @copyright  2012-2013 Project Chaplin
 * @license    http://www.gnu.org/licenses/agpl-3.0.html GNU AGPL 3.0
 * @version    git
 * @link       https://github.com/dandart/projectchaplin
**/
$strNick = $this->modelUser->getNick();
$bIsMe = $this->modelUser
?>
<div class="widgetbox centre medium">
	<div class="widgettitle">
		<h3><?php echo $strNick;?></h3>
	</div>
	<div class="widgettitle">Profile Information</div>
	<div class="widgetbody space" style="text-align:left; height: 150px;" <?php if ($this->bIsMe):?>contenteditable<?php endif; ?>>
		Some information about <?php echo $strNick;?> here. <?php echo $strNick;?> is cool. <?php echo $strNick;?> makes the best sandwiches.
	</div>
	<?php if ($this->bIsMe) : ?>
	<div class="widgettitle">Custom CSS</div>
	<div class="widgetbody space" style="text-align:left; height: 150px;">
		<style>
			.edit {
				display:block;
				height: 100%;
				width:100%;
			}
		</style>
		<style class="edit" contenteditable>
			#secret {
				display:none;
			}
		</style>
	</div>
	<?php endif; ?>
</div>
<?php if ($this->bIsMe) : ?>
<div class="widgetbox centre medium">
<div class="widgettitle centre space">
    Change your details:
</div>
<div class="widgetbody centre space">
    <?php echo $this->form; ?>
</div>
</div>
<?php endif; ?>