/**
 * This file is part of Project Chaplin.
 *
 * Project Chaplin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Project Chaplin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Project Chaplin. If not, see <http://www.gnu.org/licenses/>.
 *
 * @package    Project Chaplin
 * @author     Dan Dart
 * @copyright  2012-2013 Project Chaplin
 * @license    http://www.gnu.org/licenses/agpl-3.0.html GNU AGPL 3.0
 * @version    git
 * @link       https://github.com/dandart/projectchaplin
**/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);

* {
	padding:0;
	margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height:100%;
    padding: 0 !important;
    margin: 0 !important;
}

#contentwrapper {
    position:relative;
    height:100%;
    width:100%;
}

header {
	height: 25px;
	border-width: 0 0 1px 0;
	padding: 5px;
}

a {
	color: #555;
	font-weight: 700;
	text-decoration: none;
	font-size: 11pt;
}

a:hover {
	color: #666;
	text-decoration: underline;
}

header {
    z-index:2;
    background-color: silver;
    height:40px;
    padding: 0 2px;
    position:fixed;
    width:100%;
    top: 0px;
}

header .left {
	width: 40%;
	text-align:left;
	float:left;
    line-height:35px;
}

header .middle {
	width: 18%;
	margin: 0 auto;
	float:left;
	text-align:center;
}

header .middle h2, header .middle i {
    font-size: 18pt;
    line-height:35px;
    padding: 0;
    margin: 0;
    font-weight:700;
}

header .middle a:hover {
    cursor: default;
    text-decoration: none;
}

header .right {
	width: 40%;
	text-align: right;
	float:right;
    display:inline;
    line-height: 35px;
}

header .right input, header .right form {
    display:inline;
}

#search {
    text-align:left;
    max-width: 100%;
    margin-right:2px;
}

main {
    padding: 40px 10px 0;
    width: 100%;
    margin: 0 auto;
}

main h1 {
    margin: 0 auto;
    text-align:center;
    font-weight: 200;
}

.content-header {
    margin: 15px auto;
    text-align:center;
    font-size: 24pt;
    font-weight: 100;
}

.content-centre {
    width: 98%;
    margin: 0 auto;
    text-align:center;
}

.thumb-wrapper {
    display:inline-block;
    position:relative;
    vertical-align:top;
    padding: 0px;
    margin: 5px;
    height: 160px;
}

.thumb-img {
    height: 120px;
    background-color: black;
}

.thumb-img img {
    width: 160px;
    padding: auto;
    horizontal-align:middle;
    max-width:240px;
    max-height: 180px;
}

.thumb-wrapper p {
    background-color: grey;
    font-size: 9pt;
    text-align: center;
    color: white;
    padding:5px;
    font-weight: 700;
    width: 100%;
    margin: 2px 0px;
}

.footerpush {
    height: 25px;
    clear:both;
}

footer {
	width:100%;
    background-color: white;
	height: 20px;
    position:fixed;
    padding:2px;
    bottom:0;
    left:0;
	text-align: center;
	font-size: 10pt;
}

#videoarea {
    border: 5px outset #ccc;
    width: 640px;
    margin: 0 auto;
}

#infoarea {
    padding: 5px;
    width: 640px;
    margin: 0 auto;
}

#video {
    width: 640px;
}

#video::-webkit-media-controls-panel {
    -webkit-appearance: none;
}

#video::-webkit-full-page-media::-webkit-media-controls-panel {

}

#progress {
    display:none;
}

:-webkit-full-screen #video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.widgetbox {
    border: 2px ridge;
}

.widgetbox .widgettitle {
    font-size: 20pt;
    background-color: #ffd;
}

.widgetbox .widgetbody {
    background-color: #ffe;
}

.medium {
    max-width: 500px;
}

.centre {
    text-align:center;
    margin: 0 auto;
}

.space {
    padding:10px;
}

ul.errors {
    color: red;
}

ul.errors li {
    list-style-type: none;
}

.green {
    color:green;
}

label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

.none {
    -webkit-filter: none;
}
.blur {
    -webkit-filter: blur(3px);
}
.gray {
    -webkit-filter: grayscale(1);
}
.sepia {
    -webkit-filter: sepia(1);
}
.bright {
    -webkit-filter: brightness(0.5);
}
.highcontrast {
    -webkit-filter: contrast(5);
}
.colour {
    -webkit-filter: hue-rotate(180deg);
}
.invert {
    -webkit-filter: invert(1);
}
.saturate {
    -webkit-filter: saturate(5);
}

.drunk {
    animation: drunk;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: drunk;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@keyframes drunk {
    from {
        margin: 0 200px 0 0;
        transform: rotate(30deg);
    }
    to {
        margin: 0 0 0 200px;
        transform: rotate(-30deg);   
    }
}

@-webkit-keyframes drunk {
    from {
        margin: 0 200px 0 0;
        -webkit-transform: rotate(30deg);
    }
    to {
        margin: 0 0 0 200px;
        -webkit-transform: rotate(-30deg);   
    }
}

.earthquake {
    animation: earthquake;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation: earthquake;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes earthquake {
    0% {
        margin: 0;
    }
    12% {
        margin: 20px 20px 0 0;
    }
    25% {
        margin: 0;
    }
    37% {
        margin: 0 20px 20px 0;
    }
    50% {
        margin: 0;
    }
    62% {
        margin: 0 0 20px 20px;
    }
    75% {
        margin: 0;
    }
    87% {
        margin: 20px 0 0 20px;
    }
    100% {
        margin: 0;
    }
}

@-webkit-keyframes earthquake {
    0% {
        margin: 0;
    }
    12% {
        margin: 20px 20px 0 0;
    }
    25% {
        margin: 0;
    }
    37% {
        margin: 0 20px 20px 0;
    }
    50% {
        margin: 0;
    }
    62% {
        margin: 0 0 20px 20px;
    }
    75% {
        margin: 0;
    }
    87% {
        margin: 20px 0 0 20px;
    }
    100% {
        margin: 0;
    }
}


#fun {
    display:none;
}
.br {   
    animation:br;
    animation-duration:2s;
    -webkit-animation:br;
    -webkit-animation-duration:2s;
}

@keyframes br
{
from {transform: rotate(0);}
to {transform: rotate(360deg);}
}
@-webkit-keyframes br
{
from {-webkit-transform:rotate(0);}
to {-webkit-transform: rotate(360deg);}
}

@media (max-width: 1000px) {
    header input {
        width: 100px;
    }
    header .right strong {
        display:none;
    }
    header .left a, header .right a, header .middle h2 {
        font-size: 0;
    }
    header .left a i, header .right a i, header .middle h2 i {
        font-size: 16pt;
        height:20px;
    }
    footer p, footer a {
        font-size: 0;
    }
    footer p:after {
        font-size: 8pt;
        content: '© Chaplin, et al.';
    }
    #video, video, #videoarea {
        max-width: 100%;
    }
}

@media (max-width: 430px) {
    header input {
        width: 50px;
    }
    .thumb-wrapper {
        margin: 1px;
        padding: 1px;
        max-width:150px;
    }
    .thumb-img, .thumb-img img {
        width: 150px;
    }

    .content-centre {
        width: 99%;
    }
}

@media (max-width: 345px) {
    header .left a, header .right a, header .middle h2 {
        font-size: 0;
        padding: 5px;
    }
    header .left a i, header .right a i, header .middle h2 i {
        font-size: 10pt;
        height: 0;
    }
    header input {
        width: 40px;
    }
}