<?php
/**
 * This file is part of Project Chaplin.
 *
 * Project Chaplin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Project Chaplin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Project Chaplin. If not, see <http://www.gnu.org/licenses/>.
 *
 * @package    Project Chaplin
 * @author     Dan Dart
 * @copyright  2012-2013 Project Chaplin
 * @license    http://www.gnu.org/licenses/agpl-3.0.html GNU AGPL 3.0
 * @version    git
 * @link       https://github.com/dandart/projectchaplin
**/
$bIsLoggedIn = false;
if(Chaplin_Auth::getInstance()->hasIdentity()) :
    $modelUser = Chaplin_Auth::getInstance()->getIdentity()->getUser();
    $bIsLoggedIn = true;
endif;
?>



<div class="left">
    <a href="/video/upload" class="btn btn-info"><i class="fa fa-upload"></i> Upload</a>
    <a href="/broadcast" class="btn btn-primary"><i class="fa fa-video-camera"></i> Broadcast</a>
    <?php if ($bIsLoggedIn && $modelUser->isGod()) :?>
    <span class="dropdown">
    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-more"></i> More <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/admin/import" class="btn btn-default"><i class="fa fa-download"></i> Import</a></li>
        <li><a href="/admin/user" class="btn btn-default"><i class="fa fa-user"></i> Users</a></li>
        <li><a href="/admin/node" class="btn btn-default"><i class="fa fa-sitemap"></i> Nodes</a></li>
        <li><a href="/admin/events" class="btn btn-default"><i class="fa fa-rss"></i> Events</a></li>
    </ul>
    </span>
    <?php endif; ?>
</div>
<div class="middle">
	<a href="/"><h2><i class="fa fa-film"></i> Chaplin</h2></a>
</div>
<div class="right">
    <form action="/search" method="get">
        <input type="search" id="search" placeholder="Search for videos..."
        <?php if (isset($this->strSearchTerm)) : echo 'value="'.$this->strSearchTerm.'"'; endif; ?> name="search"/>
    </form>
    &nbsp;&nbsp;
    <?php if($bIsLoggedIn): ?>
        <strong>
            <a href="/user/<?php echo $modelUser->getUsername();?>">
                <?php echo $modelUser->getNick(); ?>
            </a> - 
            <?php echo $modelUser->getUserType()->getUserType();?>
        </strong>
        <a href="/logout" class="btn btn-danger">Logout <i class="fa fa-sign-out"></i></a>
    <?php else: ?>
        <a href="/login" class="btn btn-success">Login <i class="fa fa-sign-in"></i></a>
    <?php endif; ?>    
</div>
<div style="clear:both;"></div>